/* Configuração Geral */
* { 
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;}
/* Tabela de Cores */
:root{ 
    --color-Amarelo: #deb147;
    --color-AzulEscuro: #052b348f;
    --color-Branco: #ffffff;
    --color-Caixa: #052b34b7;
    --color-Menu: #122024;
    --color-Fundo: #b7fff1;
    --color-MenuI: #35535b;
    --color-SombraMenu: #7fcfbc;
    --color-Transparente: #00000000; 
    --color-VerdeAgua: #06b88e; 
    --color-Verde: #54d65e;
    --color-Vermelho: #f15454;}

/* Body */
.wallpaper { 
    background-color: var(--color-Fundo);}
    .wallpaper::-webkit-scrollbar {
        display: none;}

/* Barra Superior - Menu */
.hdr {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 4rem;
    background-color: var(--color-Menu);}

.logo img {
    margin-left: 1rem;
    margin-top:  .1rem;}

.packge-menu {
    position: relative;
    float: right;
    margin-top: -3.6rem;}

.pack-menu p {
    display: inline-block;
    padding-right: 1rem;}
    .pack-menu a {
        border: none;
        color: var(--color-MenuI);
        text-decoration: none;
        letter-spacing: 2px;
        background-color: var(--color-Menu);}
        .pack-menu a:hover {
            color: var(--color-VerdeAgua);
            background-color: var(--color-Menu);}
    .pack-menu button {
        border: none;
        border-radius: 3px;
        font-weight: 600;
        color: var(--color-VerdeAgua);
        background-color: var(--color-Menu);}
        .pack-menu button:hover {
            transition: 0.5s;
            color: var(--color-Vermelho);}
.link-login {
    display: inherit;
    margin-left: 65rem;
    margin-top: -2.5rem;
    margin-right: 4rem;}


/* Conteudo */
.containe h1 {
    margin-top: 7rem;
    margin-bottom: -5rem;
    letter-spacing: .2rem;
    text-align: center;
    color: var(--color-MenuI); 
    text-shadow: var(--color-AzulEscuro) 0.1em 0.1em 0.2em;}

.container-form {
    width: 700px;
    height: 300px;
    margin: 110px auto 0px auto;
    padding: .5rem;
    display: flex;
    border-radius: 1rem;
    background-color: var(--color-Caixa);}
.pack-formI{
    width: 600px;
    margin-top: 25px;
    margin-left: 3rem;
    display:inline-flex;
    justify-content: center;
    color: var(--color-Branco);}
.pack-input-name, .pack-input-cpf {
    margin-left: 1rem;}
.pack-input-matric {
    margin-right: 1rem;}
    .pack-input-name input, .pack-input-cpf input, .pack-input-matric input {
        border: none;
        width: 200px;
        text-align: center;
        color: var(--color-Branco);
        background-color: var(--color-Transparente);
        border-bottom: .1rem solid var(--color-Branco);}
    

.pack-formII {
    width: 700px;
    margin-top: 2rem;
    margin-left: -.5rem;
    display:inline-flex;
    justify-content: center;
    color: var(--color-Branco);}
    .pack-input-email input, .pack-input-password input {
        border: none;
        width: 200px;
        height: 30px;
        padding: 1rem;
        border-radius: 0px;
        text-align: center;
        color: var(--color-Branco);
        background-color: var(--color-Transparente);
        border-bottom: .1rem solid var(--color-Branco);}
    .pack-input-email {
        margin-left: -1.5rem;}
    .pack-select {
        margin-left: .5rem;
        margin-right: 2rem;}
        .pack-select select {
            border: none;
            width: 200px;
            height: 30px;
            padding: 1rem;
            border-radius: 0px;
            text-align: center;
            color: var(--color-Branco);
            background-color: var(--color-Transparente);
            border-bottom: .1rem solid var(--color-Branco);}
        .pack-select option {
            color: var(--color-Menu);
            background-color: var(--color-Fundo);}
    .pack-input-password {
        margin-right: -rem;}


.btn-cad-can {
    margin-left: 16rem;
    margin-top: 3.5rem;
    display: flex;}
.cad {
    width: 110px;
    height: 35px;
    border: none;
    font-size: 10pt;
    transition: 0.5s;
    margin-left: -3rem;
    border-radius: 4px;
    letter-spacing: .1rem;
    color: var(--color-Branco);
    border: 1.5px solid var(--color-Branco);
    background-color: var(--color-Transparente);}
    .cad:hover {
        font-weight: 600;
        transition: 0.5s;
        border-color: var(--color-SombraMenu);
        color: var(--color-MenuI);
        box-shadow: 0 0 1em var(--color-SombraMenu);
        background-color: var(--color-SombraMenu);}
.can-btn {
    width: 110px;
    height: 35px;
    border: none;
    font-size: 10pt;
    transition: 0.5s;
    margin-left: 2rem;
    border-radius: 4px;
    letter-spacing: .1rem;
    color: var(--color-Branco);
    border: 1.5px solid var(--color-Branco);
    background-color: var(--color-Transparente);}
    .can-btn:hover {
        font-weight: 600;
        transition: 0.5s;
        border-color: var(--color-Vermelho);
        color: var(--color-MenuI);
        box-shadow: 0 0 1em var(--color-SombraMenu);
        background-color: var(--color-Vermelho);}
    .can-btn a {
        text-decoration: none;
        color: var(--color-Branco);}
