* {
    padding: 0px;
    margin: 0px;
    color: var(--color-Branco);
    font-family: Arial, sans-serif;}
:root{ /* Tabela de Cores*/
    --color-Amarelo: #E59F16;
    --color-VerdeEscuro: #001E1C;
    --color-VerdeAgua: #06b88e;
    --color-AzulClaroTransparencia: #7195c24a;
    --color-Verde: #00D715; 
    --color-Branco: #ffffff;}

.wallpaper {
    background-color: var(--color-VerdeEscuro);}

.box {
    margin-top: 70px;}
    
.log-serv {
    border-radius: 15px;
    text-align: center;
    margin-left: -430px;
    padding: 20px;
    width: 250px;
    background-color: var(--color-AzulClaroTransparencia);}

.log-geren {
    border-radius: 15px;
    text-align: center;
    margin-left: 400px;
    margin-top: -182px;
    padding: 20px;
    width: 290px;
    float: right;
    background-color: var(--color-AzulClaroTransparencia);}

