/* Configuração Geral */
* { 
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;}
/* Tabela de Cores */
:root{ 
    --color-AzulEscuro: #052b348f;
    --color-Azul: #000f4d;
    --color-Branco: #ffffff;
    --color-Fundo: #5ae3c8;
    --color-Menu: #122024;
    --color-MenuI: #35535b;
    --color-MenuII: #35535b88;
    --color-Preto: #000000;
    --color-VerdeAgua: #06b88e;
    --color-VerdeI: #3cb138;
    --color-VerdeEscuro: #052704;
    --color-Vermelho: #f14343;
    --color-Verde: #54d65e;}

/* Body */
.wallpaper { 
    background: rgb(89,226,204);
    background: linear-gradient(0deg, rgba(89,226,204,1) 7%, rgba(59,166,163,1) 60%, rgba(26,108,97,1) 99%);}
    .wallpaper::-webkit-scrollbar {
        display: none;}
/* Barra Superior - Menu */
.hdr {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 4rem;
    margin-bottom: -.2rem;
    background-color: var(--color-Menu);
    box-shadow: 0 0 5em var(--color-Preto);}
.logo img {
    margin-left: 1rem;
    margin-top:  .1rem;}
.packge-menu {
    position: relative;
    float: right;
    margin-top: -3.6rem;}
.pack-menu p {
    display: inline-block;
    padding-right: 1.5rem;}
    .pack-menu a {
        border: none;
        color: var(--color-MenuI);
        text-decoration: none;
        letter-spacing: 2px;
        background-color: var(--color-Menu);}
        .pack-menu a:hover {
            color: var(--color-VerdeAgua);
            background-color: var(--color-Menu);}
    .pack-menu button {
        border: none;
        border-radius: 3px;
        font-weight: 600;
        color: var(--color-VerdeAgua);
        background-color: var(--color-Menu);}
        .pack-menu button:hover {
            transition: 0.5s;
            color: var(--color-Vermelho);}
.link-login {
    display: inherit;
    margin-left: 65rem;
    margin-top: -2.5rem;
    margin-right: 4rem;}


.barra-conect {
    width: 100%;
    height: 35px;
    margin-top: -3rem;
    margin-bottom: 5rem;
    padding-left: 1rem;
    display: inline-flex;
    background-color: var(--color-MenuII)}
    .barra-conect h1 {
        text-align: justify;
        font-size: 18pt;
        margin-top: .3rem;
        color: var(--color-Fundo);}
    .barra-conect h2 {
        margin-top: .7rem;
        margin-left: .7rem;
        font-size: 13pt;
        color: var(--color-VerdeI);}
.pack-titulo  {
    width: 800px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 270px;}
    .pack-titulo h3 {
        font-size: 40pt;
        font-weight: 500;
        transition: 1.5s;
        padding-top: 14rem;
        margin-bottom: 3rem;
        color: var(--color-Menu);
        font-family: 'Lexend Peta', sans-serif;
        text-shadow: var(--color-AzulEscuro) 0em 0em 0.2em;}
        .pack-titulo h3:hover {
            width: 800px;
            transition: 1.5s;
            font-weight: none;
            letter-spacing: .2rem;
            color: var(--color-Azul);
            text-shadow: var(--color-AzulEscuro) -0.1em -0.1em 0.1em;}
    .pack-titulo h4 {
        font-size: 26pt;
        font-weight: 500;
        margin-bottom: -5.5rem;
        color: var(--color-Menu);
        font-family: 'Noto Sans', sans-serif;}

