* {/*Configuração Global*/
    font-family: Arial, sans-serif;}
:root{ /* Tabela de Cores*/
    --color-Azul: #2196F3;
    --color-AzulEsverdiado: #00ffff;
    --color-AzulEscuroI: #124874;
    --color-AzulEscuroII: #0B2030; 
    --color-Branco: #ffffff;}
/* Página de Login */
.wallpaper {
    background-image: url(/_Img/login.jpg);}
.login {
    border-radius: 50px;
    border: 2px solid var(--color-AzulEscuroII);
    padding: 35px;
    background-color: var(--color-Azul);}
#titleI {
    color: var(--color-Branco);
    font-size: 25pt;}
#titleII {
    color: var(--color-Branco);
    font-size: 18pt;}
.link {
    color:var(--color-Branco);}
.link:hover{
    text-decoration: none;
    color: var(--color-AzulEsverdiado);}
.generica { /*Modificar ou Retirar Depois*/
    margin: 50px;
    width: 600px;}
.mat-pass {
    margin-left: 10%;}
.cont-mat label {
    margin-bottom: -40px;
    color: var(--color-Branco);}
.cont-mat input {
    width: 230px;
    border: none;
    border-bottom: 1.5px solid var(--color-Branco);
    background-color: var(--color-Azul);}
.cont-pass {
    margin-top: 30px;}
.cont-pass label {
    margin-bottom: -40px;
    color: var(--color-Branco);}
.cont-pass input {
    width: 230px;
    border: none;
    border-bottom: 1.5px solid var(--color-Branco);
    background-color: var(--color-Azul);}

